<div class="container">
  <div class="row">
    <h1>Edit your Holiday:</h1>
      <%= simple_form_for(@holiday) do |f| %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.input :details %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "btn btn-success" %>
        <div class="back"><%= link_to "Back", holiday_path(@holiday) %></div>
        <!--<%= link_to "Delete Task", @task, class: "btn btn-danger", method: :delete %>-->
      <% end %>
  </div>
</div>
