<h1><%= @holiday.name %></h1>
<ul>
  <li><%= @holiday.location %></li>
  <li><%= @holiday.details %></li>
  <li><%= @holiday.start_date.to_formatted_s(:long) %></li>
  <li><%= @holiday.end_date.to_formatted_s(:long) %></li>
  <li><%= @holiday.owner.full_name %></li>

  <%= link_to "Edit Holiday", edit_holiday_path(@holiday) %>
</ul>

<div class="holiday_album">
  <%= link_to "Create a new Album", new_holiday_holiday_album_path(@holiday) %>
  <%= link_to "See all Albums for this holiday", holiday_albums_path(@holiday) %>
</div>

<div class="holiday_invite">
  <%= link_to "Create a new Invite", new_holiday_holiday_invite_path(@holiday) %>
</div>
