<div class="profile-page well">
    <h1><%= @user.full_name %>'s profile</h1>
    <div class="photo-profile well">
      <% if @user.photo.present? %>
        <div class="avatar-large" style="background-image: url('<%= cl_image_path @user.photo, height: 300, width: 400, crop: :fill %>');">
      <% else %>
        <div class="avatar-large" style="background-image: url('https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png?w=300')"></div>
      <% end %>
    </div>

    <div class="user-details well">
      <ul>
        <li><%= @user.full_name %></li>
        <li><%= @user.birth_date.to_formatted_s(:long) %></li>
        <li><%= @user.description %></li>
      </ul>

      <%= link_to "Edit your profile", edit_user_path(@user) %>
    </div>
</div>
